<a href="https://colab.research.google.com/github/razzaqS2003/TNP/blob/main/AP__Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
print('''hi''')

hi

In [ ]:
print("""hi""");

hi

In [ ]:
print("hi")

hi

In [ ]:
x=10
y=20
z=30

In [ ]:
x,y,z=10,20,30

In [ ]:
x=True
type(x)

bool

In [ ]:
a=10
b=3
c=a/b
print(c,type(c))

3.3333333333333335 <class 'float'>

In [ ]:
#saves space by sharing
a=10
b=5+5
c=2*5
d=13-3
print(id(a),id(b),id(c),id(d))

133725446373904 133725446373904 133725446373904 133725446373904

In [ ]:
#python always updates value by giving new space
a=10
print("a=",a,"@",id(a))
a=a+5
print("a=",a,"@",id(a))
#python support AGC

a= 10 @ 133725446373904
a= 15 @ 133725446374064

In [ ]:
#IO
a=10
print("message")
print(a)
print("message",a)

message
10
message 10

In [ ]:
var=input("prompt")

In [ ]:
data=int(input("who are you ?"))
data=float(input("who are you ?"))
print(data,type(data))
# int float str boolean complex

who are you ?True
True <class 'str'>

In [ ]:
data=bool(input("what you want? :"))
print(data,type(data))

what you want? :
False <class 'bool'>

In [ ]:
# ++ -- :do not use
#arithmatic
# * / + - %(Remainder)
#//:int div  **:pow
print(5/2)
print(5//2)
print(39//10)

2.5
2
3

In [ ]:
5%2
15%20

1

In [ ]:
(5+2)*(3-1)

14

In [ ]:
#short hand
x=0

In [ ]:
x+=1
print(x)

3

In [ ]:
#Realtional and logical
< > <= >= == !=
and when all needed
or when any one needed

In [ ]:
#bit wise
#<< n is to multiply number by 2^n
x=10
x<<2 #10 *2^2

40

In [ ]:
#>> n is to div(int) number by 2^n
x=10
x>>1 #10 /2^1

5

In [ ]:
~(128)#1)reverse sign 2)-1
# 128     -128  -1=-129

-129

In [ ]:
~(-513)

512

In [ ]:
a=10
b=20
print("a=",a,"b=",b)
t=a
a=b
b=t
print("a=",a,"b=",b)

a= 10 b= 20
a= 20 b= 10

In [ ]:
a=10
b=20
print("a=",a,"b=",b)
a,b=b,a
print("a=",a,"b=",b)

a= 10 b= 20
a= 20 b= 10

In [ ]:
0 0 0
0 1 1
1 0 1
1 1 0

In [ ]:
a=10
b=8
print("a=",a,"b=",b)
a=a^b# 1010 ^ 1000 = 0010
b=a^b# 0010 ^ 1000 = 1010
a=a^b# 0010 ^ 1010 = 1000
print("a=",a,"b=",b)

a= 10 b= 20
a= 20 b= 10

In [ ]:
#to code
#1: plan from output to input
# out ->proccess->input
#2: algorithm--->code is just Syntax

In [ ]:
#code area of circle:
'''output:area of circle
process: 3.14*r*r
input:r'''
r=float(input("Enter r:"))
area=3.14*r*r
print("Area is:",area)

Enter r:45
Area is: 6358.500000000001

In [ ]:
r=float(input("Enter r:"))
print("Area is:",3.14*r*r)

Enter r:45
Area is: 6358.500000000001

In [ ]:

print("Area is:",3.14*float(input("Enter r:"))**2)

Enter r:45
Area is: 6358.5

In [ ]:
#program to calculate Percentage of passing.
#1.print percentage 2.calculate percentage 3.input total
total=int(input("Enter total:"))
percentage=(total*100)/500
print("Percentage:",percentage)

Enter total:487
Percentage: 97.4

In [ ]:
#Average of three numbers
no1=int(input("Enter a number:"))
no2=int(input("Enter a number:"))
no3=int(input("Enter a number:"))
total=no1+no2+no3
print("Avergage:",(total/3))

Enter a number:77
Enter a number:22
Enter a number:55
Avergage: 51.333333333333336

In [ ]:
'''
 Fahrenheit to Celsius conversion:
• Prompt: Write a program that takes a temperature in Fahrenheit as input and
converts it to Celsius.
• Formula: C = (F - 32) * 5/9
'''
f=float(input("Enter temp id f:"))
c = (f - 32) * 5/9
print("temperature in C:",c)

Enter temp id f:100.3
temperature in C: 37.94444444444444

In [ ]:
#Find roots of Quadratic equation.
import math
a=float(input("a:"))
b=float(input("b:"))
c=float(input("c:"))
root1=(-b+math.sqrt((b**2)-(4*a*c)))/(2*a)
root2=(-b+math.sqrt((b**2)+(4*a*c)))/(2*a)
print("roots are:",root1,root2)

a:2
b:8
c:1
roots are: -0.12917130661302934 0.12132034355964239

In [ ]:
#number +ve or -ve
no=int(input("Enter:"))
if no>=0:
    print(no,"is +ve")
if no<0:
    print(no,"is -ve")

Enter:-8
-8 is -ve

In [ ]:
#number +ve or -ve
no=int(input("Enter:"))
if no>=0:
    print(no,"is +ve")
else:
    print(no,"is -ve")

In [ ]:
#number +ve or -ve or 0
#at most and atlest one block only
no=int(input("Enter:"))
if no>0:
    print(no,"is +ve")
elif no<0:
    print(no,"is -ve")
else:#default else
    print(no,"is Zero")

Enter:0
0 is Zero

In [ ]:
##program to calculate Percentage and print passing class
# p>=60:First     50<=p<60:Second    40<=p<50:Pass   p<40:Better luck next time
#1.print percentage 2.calculate percentage 3.input total
total=int(input("Enter total:"))
percentage=(total*100)/500
if 60<=percentage:
    print("First class:",percentage)
elif 50<=percentage:
    print("Second class:",percentage)
elif 40<=percentage:
    print("Pass class:",percentage)
else:
    print("Tum se na ho payyii:",percentage)

Enter total:120
Tum se na ho payyii: 24.0

In [ ]:
# perfectly div by 3 and 5
no=int(input("Enter:"))
if no%3==0 and no%5==0:
    print(no,"is accepted")
else:
    print(no,"is rejected")

Enter:12
12 is rejected

In [ ]:
#leap year or not
# year perfectly div by 4 but not by 100 or can be by 400
year=int(input("Enter year:"))
if (year%4==0 and year%100!=0) or year%400==0:
    print(year,"is leap")
else:
    print(year,"is not leap")

Enter year:2025
2025 is not leap

In [ ]:
i=1
while i<=5:
    print(i)
    i+=1 # i=i+1
print("At end i:",i)

1
2
3
4
5
At end i: 6

In [ ]:
i=5
while i>=1:
    print(i)
    i-=1 # i=i+1
print("At end i:",i)

5
4
3
2
1
At end i: 0

In [ ]:
for i in range(1,5,1):#start,end at,step
#it stops at end hence +1 or -1
    print(i)

1
2
3
4

In [ ]:
range(start,end,step):
start:default 0
step:default +1
end:must give

In [ ]:
for i in range(5):#start,end at,step
#it stops at end hence +1 or -1
    print(i)

0
1
2
3
4

In [ ]:
-10,9,8,....1 #while for

-1,3,5,7,9,11
-2,4,6,8,10,12
-1,2,3,4 to ...n given by user where n>0
-n,n-1,n-2.....2,1,0 from n where n>0
-print start to end
    input: start 2 end is 5 2,3,4,5
    input: start 5 end is 2 5,4,3,2

In [ ]:
for i in range(10,0,-1):#start,end at,step
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
n=int(input("Enter n:"))
for i in range(1,n+1,1):#start,end at,step
    print(i)

Enter n:7
1
2
3
4
5
6
7

In [ ]:
for i in range(10,0,-1):#start,end at,step
    print(i)

In [ ]:
start=int(input("Start"))
end=int(input("End"))
if start<end:
    for i in range(start,end+1,+1):
        print(i)
else:
    for i in range(start,end-1,-1):
        print(i)

Start4
End-1
4
3
2
1
0
-1

In [ ]:
#start to end  but add every odd number and multiply every even number
start=int(input("Start"))
end=int(input("End"))
pro=1
sum=0
for i in range(start,end+1,1):
    if i%2==0:
        pro*=i
    else:
        sum+=i
print("Total is:",sum+pro)

Start3
End9
Total is: 216

In [ ]:
for i in range(1,4):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
for i in range(1,6):# controlls
    for j in range(1,i+1):
        print(j,end=' ')#prints
    print()#shifts to new line

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):# controlls
    for j in range(1,i+1):
        print(j%2,end=' ')#prints
    print()#shifts to new line

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [ ]:
for i in range(1,6):# controlls
    for j in range(1,i+1):
        print(i%2,end=' ')#prints
    print()#shifts to new line

1
0 0
1 1 1
0 0 0 0
1 1 1 1 1

In [ ]:
for i in range(5,0,-1):#ntrolls
    for j in range(1,i+1):
        print(j,end=' ')#prints
    print()#shifts to new line

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(5,0,-1):#controlls
    for j in range(5,i-1,-1):
        print(j,end=' ')#prints
    print()#shifts to new line

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1