<a href="https://colab.research.google.com/github/razzaqS2003/TNP/blob/main/AP_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dl=[11,22,33,44,55,66]

In [ ]:
#auto iterate
for i in dl:
    print(i)

11
22
33
44
55
66

In [ ]:
#indexed
for index in range(len(dl)):
    print("at",index,"we have:",dl[index])

at 0 we have: 11
at 1 we have: 22
at 2 we have: 33
at 3 we have: 44
at 4 we have: 55
at 5 we have: 66

In [ ]:
dl

[11, 22, 33, 44, 55, 66]

In [ ]:
 0   1   2    3   4   5
[11, 22, 33, 44, 55, 66]
-6   -5  -4  -3  -2   -1

[11, 22, 33, 44, 55, 66]

In [ ]:
da=dl#shellow copy:creating  other variable ref to same

In [ ]:
da

[11, 22, 33, 44, 55, 66]

In [ ]:
dl

[11, 22, 33, 44, 55, 66]

In [ ]:
da[0]=da[0]*100

In [ ]:
dl

[1100, 22, 33, 44, 55, 66]

In [ ]:
db=dl.copy()

In [ ]:
db

[1100, 22, 33, 44, 55, 66]

In [ ]:
dl

[1100, 22, 33, 44, 55, 66]

In [ ]:
db[0]=0

In [ ]:
db

[0, 22, 33, 44, 55, 66]

In [ ]:
dl

[1100, 22, 33, 44, 55, 66]

In [ ]:
dl*2

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
da=[11,22,33]
db=[10,20,30]
dc=da+db#da.extends(db)
print(dc)

[11, 22, 33, 10, 20, 30]

In [ ]:
a=[55,11,22,33,44]
sorted(a)#return sorted elements

[11, 22, 33, 44, 55]

In [ ]:
b=[22,11,66,33,55,44]
b.sort()#in place:within

In [ ]:
b

[11, 22, 33, 44, 55, 66]

In [ ]:
b[::-1]

[66, 55, 44, 33, 22, 11]

In [ ]:
tl=(11,22,33)

In [ ]:
tl[0]=tl[0]*5

TypeError: 'tuple' object does not support item assignment

In [ ]:
tl=(12,23,[10,20])

In [ ]:
tl[2].append(1000)

In [ ]:
tl

(12, 23, [10, 20, 1000])

In [ ]:
#accept all elements in list till 1st blank given
#and then find min,max,sum and average of all numbers from list
datalist=[]#blank list
while True:
    data=input("enter data")
    if data=='':
        break
    datalist.append(float(data))
print("data in list:",datalist)
print("min is",min(datalist))
print("max is",max(datalist))
print("total:",sum(datalist))
print("Average:",sum(datalist)/len(datalist))

enter data33
enter data11
enter data44
enter data88
enter data91
enter data12
enter data
data in list: [33.0, 11.0, 44.0, 88.0, 91.0, 12.0]
min is 11.0
max is 91.0
total: 279.0
Average: 46.5

In [ ]:
sum()
min()
max()
len():length

In [ ]:
#accept all elements in list till 1st blank given
#-5 from all number greater than average
#+10 to all numbers lesser than average
datalist=[]#blank list
while True:
    data=input("enter data")
    if data=='':
        break
    datalist.append(float(data))
print("List has:",datalist)
avg=sum(datalist)/len(datalist)
for i in range(len(datalist)):
    if datalist[i]<avg:
        datalist[i]+=10
    else:
        datalist[i]-=5
print("List has:",datalist)

enter data55
enter data11
enter data88
enter data22
enter data111
enter data33
enter data
List has: [55.0, 11.0, 88.0, 22.0, 111.0, 33.0]
List has: [50.0, 21.0, 83.0, 32.0, 106.0, 43.0]

In [ ]:
datalist=[1,2,3,4,5,6,7]
#add sum of all numbers in each ith position till i
for i in range(len(datalist)):
    sum=0
    for j in range(i+1):
        sum+=datalist[j]
    datalist[i]=sum
print("Final:",datalist)

Final: [1, 3, 7, 15, 31, 63, 127]

In [ ]:
data=[1,2,3,4,5,6,7]
data[1:3]

[2, 3]

In [ ]:
datalist=[1,2,3,4,5,6,7]
#add sum of all numbers in each ith position till i
for i in range(1,len(datalist)):
        data=sum(datalist[:i])
        datalist[i]=datalist[i]+data
print("Final:",datalist)

Final: [1, 3, 7, 15, 31, 63, 127]

In [ ]:
#list has all bid for a product [22,11,66,99,33,55,88]
#one who wins is closest to the original value
#if product cost is 64 then 66 wins
#input:original value and bidlist
#output winner ith with closet bid
import math
bidlist=[22,11,66,99,33,55,88]
value=65
min=bidlist[0]
won=0
for i in range(len(bidlist)):
    if math.fabs(value-bidlist[i])<min:
       min=math.fabs(value-bidlist[i])
       won=i
print("closet bid was",bidlist[won],"by",i)

closet bid was 66 by 6

In [ ]:
#list given below is 7 days trade value of shares
#0 day1 6 day7
# in minimum line give which day had maximum value of share
value=[11,88,22,55,999,222,111]
print("Day",(value.index(max(value))+1))

Day 5

In [ ]:
# cycle clockwise to list of n for user given times
#[1,2,3,4,5]--->[5,1,2,3,4]--->[4,5,1,2,3]---n
dl=[1,2,3,4,5]
n=int(input("Enter n:"))
for i in range(n):
    out=dl.pop()
    dl.insert(0,out)
    print(dl)
for i in range(n):
    out=dl.pop(0)
    dl.append(out)
    print(dl)

Enter n:5
[5, 1, 2, 3, 4]
[4, 5, 1, 2, 3]
[3, 4, 5, 1, 2]
[2, 3, 4, 5, 1]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 1]
[3, 4, 5, 1, 2]
[4, 5, 1, 2, 3]
[5, 1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [ ]:
list2d=[[11,22,33],[44,55],[66,77,88,99]]
for row in list2d:
    print(row)
print(list2d[0][1])

[11, 22, 33]
[44, 55]
[66, 77, 88, 99]
22

In [ ]:
list2d=[[11,22,33],[44,55],[66,77,88,99]]
for row in list2d:
    print(row)
    for item in row:
        print(item)

[11, 22, 33]
11
22
33
[44, 55]
44
55
[66, 77, 88, 99]
66
77
88
99

In [ ]:
list2d=[[11,22,33],[44,55],[66,77,88,99]]
for row in range(len(list2d)):
    for column in range(len(list2d[row])):
        print(row,column,":",list2d[row][column])

0 0 : 11
0 1 : 22
0 2 : 33
1 0 : 44
1 1 : 55
2 0 : 66
2 1 : 77
2 2 : 88
2 3 : 99

In [ ]:
s={}
type(s)

dict

In [ ]:
s=set()#use method
print("data:",s,type(s))

data: set() <class 'set'>

In [ ]:
s={11,22,11,33,11,44,11,55,22,33}
print(s)#custome order

{33, 22, 55, 11, 44}

In [ ]:
#set is iteratable not indexed
for item in s:
    print(item)

In [ ]:
for index in range(len(s)):
    print(index,s[index])

TypeError: 'set' object is not subscriptable

In [ ]:
s={1,2,3,4,5,6,7,8,9}
sing={2,5,7}
dance={2,4,8}
security={1,2,9}
#one who has not taken part in anything
print("not in anything:",(s-dance-sing-security))
#one who is part in all
print("In eveything:",(dance&sing&security))
#one who are part in dance and singing
print("Nach gana:",(dance&sing))
#one who can be in security who are not in anythign
print("can be in security:",(s-dance-sing))

not in anything: {3, 6}
In eveything: {2}
Nach gana: {2}
can be in security: {1, 3, 6, 9}

In [ ]:
&:intercation
|:union
^:symmetric difference
-:difference

In [ ]:
l=[11,22,33,11,55,11,77,33,66,99,11,22]
print(l)
print(sorted(set(l)))

[11, 22, 33, 11, 55, 11, 77, 33, 66, 99, 11, 22]
[11, 22, 33, 55, 66, 77, 99]

In [ ]:
s=set()

In [ ]:
s.add(int(input("Enter data")))
print(len(s),s)

Enter data99
5 {33, 99, 10, 11, 55}

In [ ]:
s.remove(10)

KeyError: 10

In [ ]:
s.discard(99)

In [ ]:
s

{11, 33, 55}

In [ ]:
#list of data given
#print in sorted order with freq of each count
#[99,33,11,33,22,11,99]
'''output
11-2
22-1
33-2
99-2
'''
l=[99,33,11,33,22,11,99]
us=sorted(set(l))
for i in us:
    print(i,l.count(i))

11 2
22 1
33 2
99 2

In [ ]:
#from the list of n elements that carry duplicates
#find min and second min from unique list
l=[44,22,11,33,11,55,44,22,66,11,77,88,11,22]
ul=sorted(set(l))
print("min:",ul[0],ul[1])

min: 11 22

In [ ]:
digits={1:"one",2:"two",3:"three"}
digits[4]="four"

In [ ]:
digits

{1: 'ek number', 2: 'two', 3: 'three', 4: 'four', 5: 'one'}

In [ ]:
digits[1]="ek number"

In [ ]:
print(digits)

{1: 'ek number', 2: 'two', 3: 'three', 4: 'four', 5: 'one'}

In [ ]:
print(digits.keys())

dict_keys([1, 2, 3, 4, 5])

In [ ]:
print(digits.values())

dict_values(['ek number', 'two', 'three', 'four', 'one'])

In [ ]:
print(digits.items())

dict_items([(1, 'ek number'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'one')])

In [ ]:
for key,data in digits.items():
    print("key:",key,"data:",data)

key: 1 data: ek number
key: 2 data: two
key: 3 data: three
key: 4 data: four
key: 5 data: one

In [ ]:
#list of data given
#print in sorted order with freq of each count
#[99,33,11,33,22,11,99]
#generate dict for key:value pair where
#key is data: value is frequency
l=[99,33,11,33,22,11,99]
my={}
us=sorted(set(l))
for i in us:
    my[i]=l.count(i)
print(my)

{11: 2, 22: 1, 33: 2, 99: 2}

In [ ]:
#you are a tea stall owner
#selling tea(10),coffee(20),water(15),bun maska(20)
#allow user to select the order from menu driven
#0.exit
while True:
    ch=int(input("1.Tea\n2.Coffee\n3.Water\n4.Bun maska\n0.exit"))
    if ch==1:
        print("Tea Selected:")
    elif ch==2:
        print("Coffee Selected:")
    elif ch==3:
        print("Water Selected:")
    elif ch==4:
        print("Bun Maska Selected:")
    elif ch==0:
        print("Thanks for ordering:")
        break
    else:#default
        print("Bhai Dhek ke")

In [ ]:
#you are a tea stall owner
#selling tea(10),coffee(20),water(15),bun maska(20)
#allow user to select the order from menu driven
#0.exit
#on exit list amount earned, and list number of tea,coffee and other things
#sold
ct=cc=cw=cb=0
while True:
    ch=int(input("1.Tea\n2.Coffee\n3.Water\n4.Bun maska\n0.exit"))
    if ch==1:
        print("Tea Selected:")
        ct+=1
    elif ch==2:
        print("Coffee Selected:")
        cc+=1
    elif ch==3:
        print("Water Selected:")
        cw+=1
    elif ch==4:
        print("Bun Maska Selected:")
        cb+=1
    elif ch==0:
        print("Thanks for ordering:")
        break
    else:#default
        print("Bhai Dhek ke")
total=(ct*10)+(cc*20)+(cw*15)+(cb*20)
print("total units sold:",(ct+cc+cw+cb))
print("Earned:",total)

1.Tea
2.Coffee
3.Water
4.Bun maska
0.exit1
Tea Selected:
1.Tea
2.Coffee
3.Water
4.Bun maska
0.exit1
Tea Selected:
1.Tea
2.Coffee
3.Water
4.Bun maska
0.exit2
Coffee Selected:
1.Tea
2.Coffee
3.Water
4.Bun maska
0.exit3
Water Selected:
1.Tea
2.Coffee
3.Water
4.Bun maska
0.exit4
Bun Maska Selected:
1.Tea
2.Coffee
3.Water
4.Bun maska
0.exit4
Bun Maska Selected:
1.Tea
2.Coffee
3.Water
4.Bun maska
0.exit0
Thanks for ordering:
total units sold: 6
Earned: 95

In [ ]:
'''
#you are a tea stall owner
#each cuntomer comes take order on
#tea(10),coffee(20),water(15),bun maska(20)
#once done give bill(generated) with itemzied bill
1.tea 3
2.coffee 1
3.water 0
4.bun maska 2

Bill Number: 121
Tea unit:3 cost:30.00
Coffee unit:1 cost:20.00
Bun Maska unit:2 cost:40.00
.........................
Total:90.00
after this ask for next order and stop system when -1 is entered
update total busineess done:(total)
'''

Global_total=0
billno=20240116
while True:
    yes_no=int(input("Do you want to order:1/yes 0/no:"))
    if yes_no==1:
        billno+=1#generate bill no
        ct=cc=cw=cb=0
        ct=int(input("Tea:"))
        cc=int(input("Coffee:"))
        cw=int(input("Water:"))
        cb=int(input("Bun Maska:"))
        #bill generation
        print("Bill no:",billno)
        print("------------------------------------------------")
        if ct>0:
            print("Tea\t",ct,"\t",ct*10)
        if cc>0:
            print("Coffee\t",cc,"\t",cc*20)
        if cw>0:
            print("Water\t",cw,"\t",cw*15)
        if cb>0:
            print("Bun Maska\t",cb,"\t",cb*20)
        print("------------------------------------------------")
        total=ct*10+cc*20+cw*15+cb*20
        Global_total+=total#ADD TO BUSINESS TOTAL
        print("Total\t\t",total)
    elif yes_no==0:
        print("Total business done:",Global_total)#show total business done
        break
    else:
        print("please select 1 or 0")0

Bill no: 20240117
------------------------------------------------
Tea	 8 	 80
Coffee	 2 	 40
Bun Maska	 5 	 100
------------------------------------------------
Total		 220
Bill no: 20240118
------------------------------------------------
Tea	 2 	 20
------------------------------------------------
Total		 20
please select 1 or 0
Total business done: 240
Total business done: 240