<a href="https://colab.research.google.com/github/razzaqS2003/TNP/blob/main/AP_Day_5_and_Day_6_OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Human:
    def birth(self):
        self.gender=input("Enter gender")
        print("gender created for",id(self))
    def naming(self):
        self.name=input("Enter name")
        print("naming created for",id(self))
    def intro(self):
        print("hi i am",self.name,"and i am a",self.gender)
#self is ref of who is calling
#self.anything is what object will have

In [ ]:
h1=Human()
h2=Human()

In [ ]:
h1.birth()

Enter gendermale
gender created for 136323352391888

In [ ]:
h1.naming()

Enter nameamar
naming created for 136323352391888

In [ ]:
h2.birth()

Enter genderfemale
gender created for 136323352393328

In [ ]:
h2.naming()

Enter nameradhika
naming created for 136323352393328

In [ ]:
h1.intro()

hi i am amar and i am a male

In [ ]:
h2.intro()

hi i am radhika and i am a female

In [ ]:
class Person:
    name="amar"
    _location="thane"#private
    __phone="9821601163"#strong private

In [ ]:
Person.__phone

AttributeError: type object 'Person' has no attribute '__phone'

In [ ]:
#find area of circle:
class Circle:
    def setr(self):
        self.r=float(input("Enter r:"))

    def area(self):
        print("Area is:",3.14*self.r**2)

In [ ]:
obj=Circle()

In [ ]:
obj.setr()

Enter r:31.2

In [ ]:
obj.area()

Area is: 3056.6016

In [ ]:
#find area of circle:
class Circle:
    def setr(self,r):
        self.r=r

    def area(self):
        print("Area is:",3.14*self.r**2)

In [ ]:
obj=Circle()
obj.setr(float(input("Enter r:")))
obj.area()

Enter r:23.9
Area is: 1793.5993999999998

In [ ]:
 '''Create a Class:
● Question: Define a Any coding language class named Person with attributes
name and age.
● use set:gives name and age and intro will print name and age'''
class Person:
    def set(self,name,age):
        self.name=name
        self.age=age
    def intro(self):
        print("hi i am",self.name,"and i am",self.age,"years old")

In [ ]:
p=Person()
p.set(input("Name:"),int(input("Age:")))
p.intro()

Name:abcd
Age:123
hi i am abcd and i am 123 years old

In [ ]:
#by default python supports polymorphism by overloading data types
class Adder:
    def add(self,p1,p2):
        print(type(p1),type(p2),p1,"+",p2,"=",(p1+p2))

In [ ]:
obj=Adder()

In [ ]:
obj.add(10,20)
obj.add(10.2,20.1)
obj.add("am","ar")

<class 'int'> <class 'int'> 10 + 20 = 30
<class 'float'> <class 'float'> 10.2 + 20.1 = 30.3
<class 'str'> <class 'str'> am + ar = amar

In [ ]:
class Person:
    def set(self,name="un-named",age=0):
        self.name=name
        self.age=age
    def intro(self):
        print("hi i am",self.name,"and i am",self.age,"years old")

In [ ]:
p1=Person()
p1.set(age=12)
p1.intro()

hi i am un-named and i am 12 years old

In [ ]:
#Constructor:
 #function called on its own when object is created
 #function def __init__() #system methods
 #used in initilization,default value assignment,parameter assignment
class Person:
    def __init__(self):
        print("iyla human created")
    def set(self,name,age):
        self.name=name
        self.age=age
    def intro(self):
        print("hi i am",self.name,"and i am",self.age,"years old")

In [ ]:
p=Person()

iyla human created

In [ ]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def intro(self):
        print("hi i am",self.name,"and i am",self.age,"years old")

In [ ]:
p=Person("superman",30)

In [ ]:
p.intro()

hi i am superman and i am 30 years old

In [ ]:
print(p)

<__main__.Person object at 0x7bfc40e80bb0>

In [ ]:
# def __str__(self):  return a string which will be printed
#also known as printer method
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return "hi i am "+self.name+" and i am "+str(self.age)+" years old"

In [ ]:
p=Person("superman",30)

In [ ]:
print(p)

hi i am superman and i am 30 years old

In [ ]:
# def __del__(self):  called just before object is to be sent for AGC
#used to call some method that check for house keeping task(saved or not)
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return "hi i am "+self.name+" and i am "+str(self.age)+" years old"
    def __del__(self):
        print("R.I.P",self.name)

In [ ]:
p=Person("super man",30)
print(p)
p=Person("wonder woman",100)
print(p)

hi i am super man and i am 30 years old
R.I.P super man
hi i am wonder woman and i am 100 years old

In [ ]:
#membership
'''class member:only remains with class and needs Name_of_class.XXXXXX
instance member
local member
'''
class Human:
    Adhar=2024000
    def __init__(self,name,gender):
        self.name=name
        self.gender=gender
        Human.Adhar+=1
        self.myadhar=Human.Adhar
        print("created")
    def __str__(self):
        return "My Adhar is:"+str(self.myadhar)+" "+self.name+" "+self.gender
    def population_count(self):
        print("Total human created so far:",Human.population)

In [ ]:
h1=Human("x","m")
print(h1)
h2=Human("y","m")
print(h2)
h3=Human("z","m")
print(h3)
h4=Human("a","m")
print(h4)

created
My Adhar is:2024001 x m
created
My Adhar is:2024002 y m
created
My Adhar is:2024003 z m
created
My Adhar is:2024004 a m

In [ ]:
h1.population_count()

Total human created so far: 4

In [ ]:
'''
Banking System

one must code banking system that can do
1.open account:
  take name,gender,and minimumbalance 3000 to open account.
  account number auto generated#class variable
2.check balance():
	1st read account number, search account, if found then show details
3.withdraw():
	check minimum balance should be kept 2000 else will not allow transection
4.deposit():
	read amount ,update balance but amount can not be -ve

2,3,4---one must give account number,search account and then
perform needed operations
'''

In [ ]:
Gobal_account_no=202400
class Account:
    def __init__(self,name,gender,amount):
        self.name=name
        self.gender=gender
        self.amount=amount
        global Gobal_account_no
        Gobal_account_no+=1
        self.account_no=Gobal_account_no
        print("Congrats ",self.name,"your account created & account number is:",self.account_no)
    def __str__(self):
        return "Name:"+self.name+"\t Account no:"+str(self.account_no)+"\t Balance:"+str(self.amount)
    def withdraw(self,amount):
        if self.amount-amount<=2000:#min balance
            print("Min balance reached can not continue")
        else:
            self.amount-=amount#update
            print("after last transection new balance is:",self.amount)
    def deposit(self,amount):
        if amount<=0:#min balance
            print("please enter non-zero amount")
        else:
            self.amount+=amount#update
            print("after last transection new balance is:",self.amount)

In [ ]:
bank={}

In [ ]:
n=input("Enter name:")
g=input("Enter gender:")
while True:
    amt=float(input("Enter Amount:"))
    if amt<3000:
        print("minimum amount is 3000 for opening")
    else:
        a=Account(n,g,amt)
        bank[a.account_no]=a
        break

Enter name:zamar
Enter gender:male
Enter Amount:23000
Congrats  zamar your account created & account number is: 202403

In [ ]:
#searching
k_list=bank.keys()
u_key=int(input("Enter a key to search:"))
if u_key in k_list:
    print("found:")
    print(bank[u_key])
else:
    print("please check the account number")

Enter a key to search:202402
found:
Name:tamar	 Account no:202402	 Balance:12333.0

In [ ]:
#withdrawing
k_list=bank.keys()
u_key=int(input("Enter a key to search:"))
if u_key in k_list:
    print("found:")
    amt=float(input("Enter amount:"))
    obj=bank[u_key]
    obj.withdraw(amt)
else:
    print("please check the account number")

Enter a key to search:202401
found:
Enter amount:6000
after last transection new balance is: 4000.0

In [ ]:
#deposit
k_list=bank.keys()
u_key=int(input("Enter a key to search:"))
if u_key in k_list:
    print("found:")
    amt=float(input("Enter amount:"))
    obj=bank[u_key]
    obj.deposit(amt)
else:
    print("please check the account number")

Enter a key to search:202403
found:
Enter amount:10000
after last transection new balance is: 33000.0

In [ ]:
Gobal_account_no=202400
class Account:
    def __init__(self,name,gender,amount):
        self.name=name
        self.gender=gender
        self.amount=amount
        global Gobal_account_no
        Gobal_account_no+=1
        self.account_no=Gobal_account_no
        print("Congrats ",self.name,"your account created & account number is:",self.account_no)
    def __str__(self):
        return "Name:"+self.name+"\t Account no:"+str(self.account_no)+"\t Balance:"+str(self.amount)
    def withdraw(self,amount):
        if self.amount-amount<=2000:#min balance
            print("Min balance reached can not continue")
        else:
            self.amount-=amount#update
            print("after last transection new balance is:",self.amount)
    def deposit(self,amount):
        if amount<=0:#min balance
            print("please enter non-zero amount")
        else:
            self.amount+=amount#update
            print("after last transection new balance is:",self.amount)
    def account_transfer(self,objr,amt):
        if self.amount>self.amount-amt-2000:
            self.amount-=amt#removed from sender
            objr.amount+=amt
            print("Updated balance")
            print(self)
            print(objr)
        else:
            print("not possible due to min balance reached")


        #check balance in sender,also min balance
        #then update receiver,sender show balance of both
bank={}
ch=0
while True:
    ch=int(input("\n1.Create Account\n2.Withdrawal\n3.Deposit\n4.Check Balance\n5.Transfer from account\n0.Exit\n:"))
    if ch==1:
        n=input("Enter name:")
        g=input("Enter gender:")
        while True:
            amt=float(input("Enter Amount:"))
            if amt<3000:
                print("minimum amount is 3000 for opening")
            else:
                a=Account(n,g,amt)
                bank[a.account_no]=a
                break
    elif ch==2:
        k_list=bank.keys()
        u_key=int(input("Enter a key to search:"))
        if u_key in k_list:
            print("found:")
            amt=float(input("Enter amount:"))
            obj=bank[u_key]
            obj.withdraw(amt)
        else:
            print("please check the account number")
    elif ch==3:
        k_list=bank.keys()
        u_key=int(input("Enter a key to search:"))
        if u_key in k_list:
            print("found:")
            amt=float(input("Enter amount:"))
            obj=bank[u_key]
            obj.deposit(amt)
        else:
            print("please check the account number")
    elif ch==4:
        k_list=bank.keys()
        u_key=int(input("Enter a key to search:"))
        if u_key in k_list:
            print("found:")
            print(bank[u_key])
        else:
            print("please check the account number")

    elif ch==5:
        k_list=bank.keys()
        sender=int(input("Sender Account number:"))
        rec=int(input("Receivers Account number:"))
        if sender in k_list and rec in k_list:
            print("Both exsits")
            objs=bank[sender]
            objr=bank[rec]
            amount=float(input("Enter amount to transfer:"))
            objs.account_transfer(objr,amount)

    elif ch==0:
        print("Thanks for using lena bank")
        break
    else:
        print("please check the option selected")

In [ ]:
#inheritance:public,private   can not:strong private
class A:
    def publicA(self):
        print("Hi from A: Public")
    def _privateA(self):
        print("Hi from A: Private")
    def __strongPrivateA(self):
        print("Hi from A: Strong Private")

In [ ]:
class B(A):
    def publicB(self):
        print("Hi from B: Public")
    def _privateB(self):
        print("Hi from B: Private")
    def __strongPrivateB(self):
        print("Hi from B: Strong Private")

In [ ]:
objb=B()

In [ ]:
objb._privateA()

Hi from A: Private

In [ ]:
#multilevel  A-->B  A,B-->C
class A:
    def A(self):
        print("Hi from A")
class B(A):
    def B(self):
        print("Hi from B")
class C(B):
    def C(self):
        print("Hi from C")

In [ ]:
obj=C()
obj.

In [ ]:
#Hierarchical
class A:
    def A(self):
        print("Hi from A")
class B(A):
    def B(self):
        print("Hi from B")
class C(A):
    def C(self):
        print("Hi from C")

In [ ]:
objba=B()
objca=C()

In [ ]:
objca.

In [ ]:
#multiple
class A:
    def A(self):
        print("Hi from A")
class B:
    def B(self):
        print("Hi from B")
class C:
    def C(self):
        print("Hi from C")

In [ ]:
class X(A,B,C):#All Taken
    def X(self):
        print("Hi from X")

In [ ]:
objx=X()

In [ ]:
objx.

In [ ]:
class A:
    def my(self):
        print("Hi from A")
class B:
    def my(self):
        print("Hi from B")
class C:
    def my(self):
        print("Hi from C")
class X(B,A,C):#FCFT
    def X(self):
        print("Hi from X")
objx=X()

In [ ]:
objx.my()

Hi from B

In [ ]:
#Ploymorphism:
#over load: a function can manage multiple types
#over ride:happens in inheritence
           #in this child will create own method
           #which will cause rejecting parents inherited method
class Parent:
    def greeting(self):
        print("Parent:A very Good Morning ")
    def eat(self):
        print("Parent:eating")
class Child(Parent):
    def play(self):
        print("yeee play")
    def greeting(self):
        print("gm")
c=Child()

In [ ]:
c.greeting()

gm

In [ ]:
#super():calls anything from uper(parent class)
class Parent:
    def __greeting(self):
        print("Parent:A very Good Morning ")
    def eat(self):
        print("Parent:eating")
class Child(Parent):
    def play(self):
        print("yeee play")
    def greeting(self):
        super().__greeting()
        print("gm")
c=Child()

In [ ]:
c.greeting()

AttributeError: 'super' object has no attribute '_Child__greeting'

In [ ]:
class A:
    def __init__(self):
        print("Hi from A")
class B(A):
    def __init__(self):
        super().__init__()
        print("Hi from B")
b=B()

Hi from A
Hi from B

In [ ]:
#passing data to parents constructor
class A:
    def __init__(self,dataa):
        print("Hi from A:",dataa)
class B(A):
    def __init__(self,dataa,datab):
        super().__init__(dataa)
        print("Hi from B:",datab)
class C(B):
    def __init__(self,dataa,datab,datac):
        super().__init__(dataa,datab)
        print("Hi from C:",datac)
c=C(10,100,1000)

Hi from A: 10
Hi from B: 100
Hi from C: 1000

In [ ]:
#class shape has method area()
#override it using class circle and rectangle
#to print area:
class Shape:
    def area():
        pass#no operation command
            #kept for future changes or collabration
class Circle:
    def kuchto(self):
        pass
    def setR(self,r):
        self.r=r
    def area(self):
        print("Area of Circle:",3.14*self.r**2)
c=Circle()

In [ ]:
c.setR(12.2)
c.area()

Area of Circle: 467.35759999999993

In [ ]:
class Human:#null class
    pass

In [ ]:
h=Human()

In [ ]:
#setattr/getattr:can create properties and access them in null objects
setattr(h,"gender","male")
setattr(h,"name","amar")
","not given")

'male'

In [ ]:
getattr(h,"name")#ask attribute get value
getattr(h,"gender","default value")
#default value to return if attribute not found

'male'

In [ ]:
class Human:
    def __init__(self,name,gender):
        self.name=name
        self.gender=gender
class Student(Human):
    def __init__(self,name,gender,degree):
        super().__init__(name,gender)
        self.degree=degree
class Job(Student):
    def __init__(self,name,gender,degree,salary):
        super().__init__(name,gender,degree)
        self.salary=salary
    def display(self):
        print(self.name,self.gender,self.degree,self.salary)

In [ ]:
objj=Job("amar","m","Phd","123")

In [ ]:
objj.display()

amar m Phd 123

In [ ]:
class Automobile:
    def __init__(self,speed):
        self.speed=speed
        print("Speed set:",self.speed)
class Car(Automobile):
    def __init__(self,speed,c4):
        super().__init__(speed)
        self.c4=c4
class Bike(Automobile):
    def __init__(self,speed,c2):
        super().__init__(speed)
        self.c2=c2
class Comparator:
    def compare(self,car,bike):
        if car.speed>bike.speed:
            print("Car is faster with",car.speed)
        else:
            print("Bike is faster with",bike.speed)

In [ ]:
c=Car(220,1.6)
b=Bike(380,550)
comp=Comparator()
comp.compare(c,b)

Speed set: 220
Speed set: 380
Bike is faster with 380

In [ ]:
#we hace object of student class consisting name,gender,pointer
#we have all data in list(to be created),sort this list in
#descending order of pointer
class Student:
    def __init__(self,name,gender,pointer):
        self.name=name
        self.gender=gender
        self.pointer=pointer
    def __str__(self):
        return self.name+"\t"+self.gender+"\t"+str(self.pointer)
slist=[]
s1=Student("abc","m",8.1)
slist.append(s1)
s1=Student("xyz","f",6.9)
slist.append(s1)
s1=Student("qqq","m",7.9)
slist.append(s1)
s1=Student("uuu","f",9.2)
slist.append(s1)
for i in slist:
    print(i)

abc	m	8.1
xyz	f	6.9
qqq	m	7.9
uuu	f	9.2

In [ ]:
for i in range(len(slist)-1):
    for j in range(len(slist)-1):
        if slist[j].pointer<slist[j+1].pointer:
            slist[j],slist[j+1]=slist[j+1],slist[j]
for i in slist:
    print(i)

uuu	f	9.2
abc	m	8.1
qqq	m	7.9
xyz	f	6.9