<a href="https://colab.research.google.com/github/razzaqS2003/TNP/blob/main/AP_Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s='amar
panchal'
s2="amar
amar"
s3='''amar
panchal'''
s4="""amar
panchal"""

In [ ]:
print(s,s2,s3,s4)

amar amar amar amar

In [ ]:
s='abcdefghi'
for character in s:
    print(character)

a
b
c
d
e
f
g
h
i

In [ ]:
s="abcdefghi"
for index in range(len(s)):
    print("at",index,"we have",s[index])

at 0 we have a
at 1 we have b
at 2 we have c
at 3 we have d
at 4 we have e
at 5 we have f
at 6 we have g
at 7 we have h
at 8 we have i

In [ ]:
s="abcdefghi"
print(s[-2])

h

In [ ]:
ord('a')

97

In [ ]:
chr(98)

'b'

In [ ]:
#print A-Z with ASCII values:
#A-65
#B-66
for i in range(ord('A'),ord('Z')+1):
    print(chr(i),"-",i)

In [ ]:
#take to characters from user and print triangle
'''start:P end:T
P
PQ
PQR
PQRS
PQRST
'''
start=input("Enter start:")
end=input("Enter end:")
for i in range(ord(start),ord(end)+1):
    for j in range(ord(start),i+1):
        print(chr(j),end=" ")
    print()

Enter start:B
Enter end:F
B
B C
B C D
B C D E
B C D E F

In [ ]:
'''#Start Printing:
X
X X
X X X
X X X X'''
for i in range(1,5):
    for j in range(1,i+1):
        print("X",end=" ")
    print()

X
X X
X X X
X X X X

In [ ]:
s="god "
print(s*5)#string * n repeates string for n times

god god god god god

In [ ]:
                 #lastline +1
for i in range(1,5):
               #1st line
    print("X "*i)

X
X X
X X X
X X X X

In [ ]:
for i in range(5,0,-1):
               #1st line
    print("X "*i)

X X X X X
X X X X
X X X
X X
X

In [ ]:
for i in range(1,6):
    print("@"*(6-i),"X$"*i)

@@@@@ X$
@@@@ X$X$
@@@ X$X$X$
@@ X$X$X$X$
@ X$X$X$X$X$

In [ ]:
for i in range(1,5):
    print(" "*(6-i),"X "*i)
for i in range(3,0,-1):
    print(" "*(6-i),"X "*i)

      X
     X X
    X X X
   X X X X
    X X X
     X X
      X

In [ ]:
print("X"*6)
for i in range(1,5):
    print("X"," "*2,"X")
print("X"*6)

XXXXXX
X    X
X    X
X    X
X    X
XXXXXX

In [ ]:
"am"+"ar"

'amar'

In [ ]:
s="python"
s[:3]
#[start:end]
#[:end] 0 to end
#[start:] to end

'pyt'

In [ ]:
#create word triangle
s=input("enter word:")
for i in range(1,len(s)+1):
    print(s[:i])

enter word:python
p
py
pyt
pyth
pytho
python

In [ ]:
"aman" in "amarandra bahubali"

False

In [ ]:
line="thIS IS sO MUch FuN"

In [ ]:
line.capitalize()

'This is so much fun'

In [ ]:
line.title()

'This Is So Much Fun'

In [ ]:
s="imagination"
print(s.find("i"),s.rfind("i"))

0 8

In [ ]:
s="py"
s.center(10,"*")

'****py****'

In [ ]:
s.ljust(10,"$")

'py$$$$$$$$'

In [ ]:
s.rjust(10,"#")

'########py'

In [ ]:
s="X"
print(s.center(10))
s=s*2
print(s.center(10))

    X
    XX

In [ ]:
s="*"
space=10
for i in range(1,10):
    print(s.ljust(space))
    s=s*2
    space-=i

*
**
****
********
****************
********************************
****************************************************************
********************************************************************************************************************************
****************************************************************************************************************************************************************************************************************************************************************

In [ ]:
'''
consider one has result of 2 students
in a list
plot alternet histrogram for the same
but student 1 left align
student 2 is right align
'''
s1=[77,33,42,54]
s2=[44,52,71,77]
s_1="#"
s_2="*"
for i in range(4):
    sp1=s_1*s1[i]
    print(s1[i],sp1.ljust(80))
    sp2=s_2*s2[i]
    print(sp2.rjust(80),s2[i])

77 #############################################################################
                                    ******************************************** 44
33 #################################
                            **************************************************** 52
42 ##########################################
         *********************************************************************** 71
54 ######################################################
   ***************************************************************************** 77

In [ ]:
line="he did this"
line.replace("he","she")

'she did this'

In [ ]:
line="this is done"
line.replace(" is "," was ")

'this was done'

In [ ]:
line="amar mukund panchal here"
print(line.split())

['amar', 'mukund', 'panchal', 'here']

In [ ]:
#one code : count number of words in line entered by user
print("Word count:",len(input("Enter a line to test:").split()))

Enter a line to test:                  iyla       it       would           work
Word count: 4

In [ ]:
s="amar"
s[::-1]

'rama'

In [ ]:
s=input("Enter word:")
rs=s[::-1]
if s==rs:
    print("yes")
else:
    print("no")

Enter word:nitin
yes

In [ ]:
#count number of Vowels in line given by user
line=input("Enter line to test:")
line=line.lower()
count=0
for i in line:
    if i=='a' or i=='e' or i=='o' or i=='u' or i=='i':
        count+=1
print("Vowels are:",count)

Enter line to test:this is for your test
Vowels are: 6

In [ ]:
line=input("Enter line to test:")
line=line.lower()
count=0
for i in "aeiou":
   count+=line.count(i)#a,e,i,o,u
print("Vowels are:",count)

Enter line to test:this is line to test for you
Vowels are: 9

In [ ]:
#if we compare word from string (substring matches)
#if we compare word from list only word matches
string="this is it"
string.count("is")

2

In [ ]:
slist=string.split()
print(slist)
slist.count("is")

['this', 'is', 'it']

1

In [ ]:
#count max frequency word in line of string
line='''Mahatma Gandhi, the "Great Soul" of India, emerged from humble beginnings to lead a revolution not with weapons, but with unwavering truth and non-violent resistance. In South Africa, he honed Satyagraha, the power of soul force, against racial discrimination. Returning to his motherland under colonial rule, he led boycotts, marches, and civil disobedience, his spinning wheel weaving a new narrative of self-reliance and dignity. Through the Salt March, he challenged the British monopoly, sparking nationwide awakening. His unwavering commitment to Hindu-Muslim unity amid Partition's tragedy stands as a testament to his compassion. Though silenced by an assassin's bullet, Gandhi's legacy echoes through the ages, inspiring movements for equality and freedom across the globe. In his message of non-violence, simple living, and unwavering resolve, we find a timeless blueprint for a better world.
This paragraph, at 29 lines, condenses the essence of Gandhi's life and impact, highlighting his key perjuangan, principles, and enduring legacy. Feel free to personalize it further by adding specific details or focusing on any aspects that resonate with you.'''

#get list of words
wordlist=line.split()
#get unique wors
u_list=set(wordlist)
#get count of each unique word from list
max=0
maxword=""
for word in u_list:
    if wordlist.count(word)>max:
        max=wordlist.count(word)
        maxword=word
print("Max Frequency is:",max,"of word:",maxword)

Max Frequency is: 7 of word: the

In [ ]:
#reverse line of string word by word
line=input("Enter line:")#it is this
wordlist=line.split()#convert line to list
wordlist=wordlist[::-1]#reverse list
rline=""
for word in wordlist:
    rline=rline+word+" "
    print(rline)

Enter line:this is done this way
way
way this
way this done
way this done is
way this done is this

In [ ]:
# anagram or not
w1="on"
w2="no"
#characterzie this
#sort the list
list_w1=sorted(list(w1))
list_w2=sorted(list(w2))
#compare both character by character
flag=True
for i in range(len(list_w1)):
    if list_w1[i]!=list_w2[i]:
        flag=False
        break
if flag==True:
    print("yes")
else:
    print("no")
#print the result

yes

In [ ]:
s="python"
slist=list(s)
print(slist)

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
s=input("Enter word:")
flag=True
i,j=0,len(s)-1
while i<=j:
    if s[i]!=s[j]:
        flag=False
        break
    i+=1
    j-=1
if flag==True:
    print("yes")
else:
    print("no")

In [ ]:
def hi():
    '''will print message'''
    print("i m function")

In [ ]:
def welcome(name):
    '''input:name output:welcome message'''
    print("welcome,",name)

In [ ]:
welcome("amar")

welcome, amar

In [ ]:
#data primitive passed by value:
    changes are local only
#data: data structures passed by reference:
    changes seen every where

In [ ]:
def doubler(a):
    print("in function:before a=",a)
    a=a+a
    print("in function:after a=",a)

In [ ]:
def doubler(a):
    print("in function:before a=",a)
    a[0]=a[0]+a[0]
    print("in function:after a=",a)

In [ ]:
print("in main")
a=[10]
print("in main script:before a=",a)
doubler(a)
print("in main script:after a=",a)

in main
in main script:before a= [10]
in function:before a= [10]
in function:after a= [20]
in main script:after a= [20]

In [ ]:
#key value parameter
def intro(name,native):
    print("hi i am",name,"and from",native)

In [ ]:
intro("amar","mumbai")

hi i am amar and from mumbai

In [ ]:
intro("gujrat","jignesh")

hi i am gujrat and from jignesh

In [ ]:
#key value parameter
intro(native="gujrat",name="jignesh")

hi i am jignesh and from gujrat

In [ ]:
#default value: value take if user not giving
def intro(name="un-named",native="unknown"):
    print("hi i am",name,"and from",native)

In [ ]:
intro(native="gujrat")

hi i am un-named and from gujrat

In [ ]:
#variable size parameter
def hobbies(*h):
    print("total hobbies",len(h),type(h))
    for i in h:
        print("->",i)

In [ ]:
hobbies("code","sketch","cook","travel")

total hobbies 4 <class 'tuple'>
-> code
-> sketch
-> cook
-> travel

In [ ]:
hobbies("sleep","eat")

total hobbies 2 <class 'tuple'>
-> sleep
-> eat

In [ ]:
def intro(name,native):
    print("hi i am",name,"and from",native)

In [ ]:
hi=intro

In [ ]:
hi("amar","mumbai")

hi i am amar and from mumbai

In [ ]:
def eng(name):
    print(name,"welcome to our platform")
def hindi(name):
    print(name,"हमारे मंच पर आपका स्वागत है")
def marathi(name):
    print(name,"आमच्या व्यासपीठावर स्वागत आहे")
def ott(name,language=hindi):
    language(name)

In [ ]:
ott("amar")

amar हमारे मंच पर आपका स्वागत है

In [ ]:
def min(no1,no2):
    if no1<no2:
        return no1
    else:
        return no2

In [ ]:
min(2,8)

2

In [ ]:
def Ascending(no1,no2):
    if no1<no2:
        return no1,no2
    else:
        return no2,no1

In [ ]:
type(Ascending(9,1))

tuple

In [ ]:
def min(no1,no2):#returning is better so one can nest it
    if no1<no2:
        return no1
    else:
        return no2

In [ ]:
min(min(2,9),min(11,1))
         2  ,  1
            1

1

In [ ]:
#lamda function
D=lambda x : x+x
#one liner, use and throw, no name but only way to ref with a variable

In [ ]:
D(10)

20

In [ ]:
D("AMAR")

'AMARAMAR'

In [ ]:
D(3.13)

6.26

In [ ]:
x=10#global variable
print("in script:",x)

def myfunction():
    x=100#local over global
    print("my function:",x)

print("in script:",x)
myfunction()

in script: 10
my function: 100

In [ ]:
x=10#global variable
print("in script:",x)

def myfunction():
    global x#tells python to ref global copy
    x=x+5
    print("my function:",x)

print("in script:",x)
myfunction()
print("in script at end:",x)

in script: 10
in script: 10
my function: 15
in script at end: 15

In [ ]:
#modular coding:
#we pass data but from script read data
#code functions that returns result/response
#the logic is in function
#script only handles input/output

In [ ]:
#using function add to list to create averge 3rd list
'''
l1=[10,20,30]
l2=[5,15,25]
l3=[(10+5)/2,(20+15)/2,(30+25)/2]
'''
def listadder(l1,l2):
    temp=[]
    for i in range(len(l1)):
        temp.append((l1[i]+l2[i])/2)
    return temp

l1=[10,20,30]
l2=[5,15,25]
l3=listadder(l1,l2)
print("average of 2 is:",l3)

average of 2 is: [7.5, 17.5, 27.5]